<icc-panel class="app-panel-container">
  <icc-panel-content class="app-content-container" resizeable="true">
    <div class="app-content-start" start>
      <div><a routerLink="simple-table" routerLinkActive="active">1. Simple Table</a></div>
      <div><a routerLink="sort-table" routerLinkActive="active">2. Column Sort</a></div>
      <div><a routerLink="multi-sort-table" routerLinkActive="active">3. Multiple Column Sort</a></div>
      <div><a routerLink="filter-table" routerLinkActive="active">4. Column Filter</a></div>
      <div><a routerLink="column-resize-table" routerLinkActive="active">5. Column Resize</a></div>
      <div><a routerLink="column-dnd-table" routerLinkActive="active">6. Column DnD</a></div>
      <div><a routerLink="table-side-menu" routerLinkActive="active">7. Table Side Menu</a></div>
      <div><a routerLink="column-hide-table" routerLinkActive="active">8. Column Hide</a></div>
      <div><a routerLink="column-menu-table" routerLinkActive="active">9. Column Menu</a></div>
      <div><a routerLink="row-selection-table" routerLinkActive="active">10. Row Selection</a></div>
      <div><a routerLink="multi-row-selection-table" routerLinkActive="active">11. Multiple Row Selection</a></div>
      <div><a routerLink="group-header-table" routerLinkActive="active">12. Group Header</a></div>
      <div><a routerLink="horizontal-scrollbar-table" routerLinkActive="active">13. Horizontal Scrollbar</a></div>
      <div><a routerLink="data-source-service-table" routerLinkActive="active">14. Data Source Service</a></div>
      <div><a routerLink="table-view-summary" routerLinkActive="active">15. Table View Summary</a></div>
      <div><a routerLink="row-group-table" routerLinkActive="active">16. Row Group</a></div>
      <div><a routerLink="multi-row-group-table" routerLinkActive="active">17. Multiple Row Group</a></div>
      <div><a routerLink="column-sticky-table" routerLinkActive="active">18. Column Sticky</a></div>
      <div><a routerLink="virtual-scroll-table" routerLinkActive="active">19. Virtual Scroll (50,000)</a></div>
    </div>
    <div class="app-content-middle" middle>
      <router-outlet></router-outlet>
    </div>
    <div class="app-content-end" end>Left Container</div>
  </icc-panel-content>
</icc-panel>