.app-content-container {
  flex-direction: row;
  overflow: hidden;
  .app-content-start {
    flex: 0 0 250px;
    border: 1px solid blue;
  }
  .app-content-middle {
    flex: 1 1 auto;
    border: 1px solid red;
  }
  .app-content-end {
    flex: 0 0 300px;
    border: 1px solid orange;
  }
}
