<icc-panel class="app-panel-container">
  <icc-panel-content class="app-content-container" resizeable="true">
    <div middle class="app-content-middle">
      <router-outlet></router-outlet>
    </div>
    <div start class="app-content-start">
      <div><a routerLink="panel-example" routerLinkActive="active">Layouts</a></div>
      <div><a routerLink="popover-example" routerLinkActive="active">Popover</a></div>
    </div>
    <div class="app-content-end" end>Left Container</div>
  </icc-panel-content>
</icc-panel>
