@import '../node_modules/icc9/_theming.scss';
@import './app/nav/nav.component.scss';
@import './app/app.component.scss';

@include icc-configure-theme() {
  @include icc-theme-components();
  @include nav-component-theme();
  @include app-component-theme();
};

/* // Set box-sizing globally to handle padding and border widths */
*,
*:after, *:before {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}

body {
  margin: 0px;
}
