<icc-panel class="app-panel-container">
  <icc-panel-content class="app-content-container">
    <icc-panel>
      <icc-panel-content class="app-content-container" resizeable="true">
        <div #divContainer start class="app-content-start"> Upper
          <div>Panel Content </div>
          <div>Panel Content </div>
          <div>Panel Content </div>
          <div>Panel Content </div>
          <div>Panel Content </div>
          <div>Panel Content </div>
          <div>Panel Content </div>
          <div>Panel Content </div>
          <div>Panel Content </div>
          <div>Panel Content </div>
          <div>Panel Content </div>
          <div>Panel Content </div>
        </div>
        <div #divContainer middle class="app-content-middle">
          Middle
          <div>Panel Content </div>
          <div>Panel Content </div>
          <div>Panel Content </div>
          <div>Panel Content </div>
          <div>Panel Content </div>
          <div>Panel Content </div>
          <div>Panel Content </div>
          <div>Panel Content </div>
          <div>Panel Content </div>
          <div>Panel Content </div>
          <div>Panel Content </div>
          <div>Panel Content </div>
          <div>Panel Content </div>
          <div>Panel Content </div>
          <div>Panel Content </div>
          <div>Panel Content </div>
          <div>Panel Content </div>
          <div>Panel Content </div>
          <div>Panel Content </div>
          <div>Panel Content </div>
          <div>Panel Content </div>
          <div>Panel Content </div>
          <div>Panel Content </div>
          <div>Panel Content </div>
          <div>Panel Content </div>
          <div>Panel Content </div>
          <div>Panel Content </div>
          <div>Panel Content </div>
          <div>Panel Content </div>
          <div>Panel Content </div>
          <div>Panel Content </div>
          <div>Panel Content </div>
          <div>Panel Content </div>
          <div>Panel Content </div>
          <div>Panel Content </div>
          <div>Panel Content </div>
        </div>
        <div #divContainer class="app-content-end" end>
          Bottom
          <div>Panel Content </div>
          <div>Panel Content </div>
          <div>Panel Content </div>
          <div>Panel Content </div>
          <div>Panel Content </div>
          <div>Panel Content </div>
          <div>Panel Content </div>
          <div>Panel Content </div>
          <div>Panel Content </div>
          <div>Panel Content </div>
          <div>Panel Content </div>
          <div>Panel Content </div>
          <div>Panel Content </div>
          <div>Panel Content </div>
          <div>Panel Content </div>
          <div>Panel Content </div>
          <div>Panel Content </div>
          <div>Panel Content </div>
          <div>Panel Content </div>
          <div>Panel Content </div>
          <div>Panel Content </div>
        </div>
      </icc-panel-content>
    </icc-panel>
  </icc-panel-content>
</icc-panel>